<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apartment Details</title>
</head>
<body>
<h1>All Apartments</h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Location</th>
    <th>Date</th>
    <th>Link</th>
  </tr>
  </thead>
  <tbody>
  <!-- Iterate over each apartment -->
  <tr th:each="apartment : ${apartments}">
    <!-- Output apartment details -->
    <td th:text="${apartment.title}">Title</td>
    <td th:text="${apartment.price}">Price</td>
    <td th:text="${apartment.location}">Location</td>
    <td th:text="${apartment.date}">Date</td>
    <td><a th:href="${apartment.mainLink}" th:text="${apartment.mainLink}">Link</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>